html{ 
 
 height: 100%;
} 


body{  
	height: 100%; 
	color: #222;
	line-height: 1.5; 
	background-color: lightblue; 

}  

.quote { 
     height: 500px;
     display: flex; 
     align-items:  center;
     justify-content: center; 
     background-size: cover; 
     margin-bottom: 10px;


} 

.author{  
	max-width: 50%; 
	color: black;
	font-size: 1em; 
	font-weight: 200; 
	font-family: arial;

}

