html, body {
  padding: 50px;
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1 {
    text-align: center;
	 height: 90px;
  	line-height: 90px;
  	font-family: fantasy;
}
a {
  color: #00B7FF;
}
