doctype html
html. 
    <head>
      <title>#{title}</title>
      <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body  id='body'  >
      <div id='divTextContainer'>
      <h1 id='h1quote' >
        Click or tap on the page to get inspired 
      </h1>
      </div>
      <div id='divAuthorContainer'>
      	<h1 id='h1Author'> </h1>
      </div>
      
      <script type="text/javascript" src='/js/jquery-2.2.1.min.js'></script>
      <script type="text/javascript" src="/js/main.js"></script>
    </body>
