doctype html
html. 
    <head>

    </head>
    <body >
      <h1 id='h1quote'>
     
      </h1>
      <script type="text/javascript" src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>
     <script type="text/javascript" src='/js/main.js'></script> 
    </body>
