body
{
	background-color: hsl(400, 60%, 68%);
	text-align: center;
	font-family: Lato, Arial, sans-serif;
	cursor: pointer;
	display: flex;
    align-items: center;
    justify-content: center;

}
.quote {
    font-weight: 400;
    color: #fff;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
    font-size: 5ex;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    max-width: 90%;
}

.author {
    position: absolute;
    bottom: 0px;
    right: 20px;
    font-weight: 300;
    font-size: 5ex;
    color: #fff;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
    max-width: 60%;
    align-self: flex-end;
    display: block;
}