
.currentQuote{
    text-align: center;
    background-color: lightgrey;
    font: normal 70px courier !important;
}

.currentAuthor{
    text-align: center;
    background-color: lightgrey;
    font: normal 70px courier !important;
}

.btn {
    margin: 0 auto;
    display: block;
    cursor: pointer;
    width: 50%;
    font-size: 2em;
    background: #3C3C3C;
    color: #fff;
    border: none;
    box-shadow: 1px 1px 5px rgba(20, 21, 4, 0.4);
}

.btn:hover {
    background-color: #555;
}

