body{
	background-image: url("../Assets/congruent_pentagon.png");
	font-family: Arnoldboecklin, fantasy;
	text-shadow:1px 1px grey;
}
html:hover{
	cursor: pointer;
}
.quote-title{
	padding-top: 250px;
	text-align: center;
}

.post-list-item-body{
	position:absolute;
    bottom:40px;
    right:40px;
}