doctype html
html(lang="en")
  head
    title Quote App
    link(rel='stylesheet', href='/stylesheets/style.css')
      script(type='text/javascript', src='./js/jquery.min.js')
    script(src='./js/main.js')
  body
    blockquote.quote
      |    
    h2.author
    script(src='./js/main.js')
  body
    div!= body
