body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vh; 
  width: 100vh;
}
#divTextContainer{
	 left: 0;
    
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}


#divAuthorContainer{
	 margin: auto;
	 top: 80%;
    width: 95%;
      position: absolute;
    text-align: right;
     font : 18px;
     color: white;
}